.filters{
	background-color: white;
	height: 70%;
	width: 100%;
	position: relative;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.search {
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	top: 50%;
	border: none;
	border-radius: 4px;
	font-size: 18px;
	position: relative;
	margin-top: 11px;
	margin-bottom: 11px;
	transform: translateX(-15%);
	right: -80%;
}

.serach:hover {
	opacity: 0.9;
}
